body {
  font-family: 'Poppins', sans-serif !important;

}

a {
  text-decoration: none !important;
}

input:focus {
  border: 1px solid #023047 !important;
}

/* General Modal Styling */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dimmed backdrop */
  z-index: 50;
  /* Ensure modal is on top */
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  /* max-width: 600px; */
  /* Max width for the modal */
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 51;
  /* Ensure modal content is above the backdrop */
}

/* Close Button Styling */
.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}

.close-button:hover {
  color: #333;
  /* Darker color on hover */
}

/* Form Inputs Styling */
input,
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s ease-in-out;

}

input:focus,
select:focus,
textarea:focus {
  border-color: #4F46E5;
  /* Blue border on focus */
  outline: none;
}

/* Label Styling */
label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
  text-align: left !important;
}

/* Toggle Button for Status */
.toggle-btn.active {
  background-color: #10B981;
  /* Green for active */
}

.toggle-btn .toggle-indicator {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-btn.active .toggle-indicator {
  transform: translateX(30px);
  /* Move indicator to the right */
}

/* Modal Footer (Buttons Area) */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Ensure the modal is responsive on smaller screens */
@media (max-width: 768px) {
  .modal-content {
    margin: 20px;
    padding: 16px;
    max-width: 100%;
  }

  .modal-footer {
    flex-direction: column;
    align-items: center;
  }

  button.primary-btn,
  button.secondary-btn {
    width: 100%;
    margin: 8px 0;
  }

  .sidebar-nav {
    height: auto;
  }
}